/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*
.K_column,
.K_columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }
*/

.K_column,
.K_columns {
  float: left;
  box-sizing: border-box;
  margin-left: 4%;
  margin-right: 0px;
}
.K_column:first-child,
.K_columns:first-child {
  margin-left: 0;
}

.one.K_column,
.one.K_columns {
  width: 4.66666666667%;
}
.two.K_columns {
  width: 13.3333333333%;
}
.three.K_columns {
  width: 22%;
}
.four.K_columns {
  width: 30.6666666667%;
}
.five.K_columns {
  width: 39.3333333333%;
}
.six.K_columns {
  width: 48%;
}
.seven.K_columns {
  width: 56.6666666667%;
}
.eight.K_columns {
  width: 65.3333333333%;
}
.nine.K_columns {
  width: 74%;
}
.ten.K_columns {
  width: 82.6666666667%;
}
.eleven.K_columns {
  width: 91.3333333333%;
}
.twelve.K_columns {
  width: 100%;
  margin-left: 0;
}

.one-third.K_column {
  width: 30.6666666667%;
}
.two-thirds.K_column {
  width: 65.3333333333%;
}

.one-half.K_column {
  width: 48%;
}

/* Offsets */

.offset-by-one.K_column,
.offset-by-one.K_columns {
  margin-left: 8.66666666667%;
}
.offset-by-two.K_column,
.offset-by-two.K_columns {
  margin-left: 17.3333333333%;
}
.offset-by-three.K_column,
.offset-by-three.K_columns {
  margin-left: 26%;
}
.offset-by-four.K_column,
.offset-by-four.K_columns {
  margin-left: 34.6666666667%;
}
.offset-by-five.K_column,
.offset-by-five.K_columns {
  margin-left: 43.3333333333%;
}
.offset-by-six.K_column,
.offset-by-six.K_columns {
  margin-left: 52%;
}
.offset-by-seven.K_column,
.offset-by-seven.K_columns {
  margin-left: 60.6666666667%;
}
.offset-by-eight.K_column,
.offset-by-eight.K_columns {
  margin-left: 69.3333333333%;
}
.offset-by-nine.K_column,
.offset-by-nine.K_columns {
  margin-left: 78%;
}
.offset-by-ten.K_column,
.offset-by-ten.K_columns {
  margin-left: 86.6666666667%;
}
.offset-by-eleven.K_column,
.offset-by-eleven.K_columns {
  margin-left: 95.3333333333%;
}

.offset-by-one-third.K_column,
.offset-by-one-third.K_columns {
  margin-left: 34.6666666667%;
}
.offset-by-two-thirds.K_column,
.offset-by-two-thirds.K_columns {
  margin-left: 69.3333333333%;
}

.offset-by-one-half.K_column,
.offset-by-one-half.K_columns {
  margin-left: 52%;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.K_row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
